body{
	background: lightgrey;
}

.wrap{
  width: 500px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrap strong{
  color: grey;
  height: 100px;
  display: block;
  font-size: 30px;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
}

.link {
  fill: none;
  stroke: white;
  stroke-width: 1.5px;
}

.node {
  font: 14px sans-serif;
  fill: grey;
}

.node circle {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}
